._menus{
    border-right: 1px solid rgba(0,0,0,.125);
    height: 800px;
    background-color: white;
    padding-top: 30px;
    margin-left: -30px;

}
._menus ul li{
    list-style-type: none;
    cursor: pointer;
}
._menus ul li:hover{
    color: #343a40;
}
.m_top{
    color: rgba(0,0,0,.85);
    font-weight: 500;
}
.m_sub{
    color: rgba(0,0,0,.65);
    font-size: 14px;
    padding-left: 7%;
}

._menus a{
    text-decoration: none;
    color: rgba(0,0,0,.65);
}
._menus a:hover{
    text-decoration: none;
    color: rgba(0,0,0,.85);
}
table{
    font-size: 12px;
}
